/**
 * In most cases, using buttons with button tag allows more styling options
 * it is cross browser and meaningful. Also ".button" class is added in order to
 * get button-like elements
 */
%button {
    @include prefixer(apperance, none);
    @include app-transition();

    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: (2 * $base-input-spacing) (3 * $base-input-spacing);
    line-height: normal;
    text-decoration: none;
    overflow: hidden;

    @if($base-button-border-radius != null){
        border-radius: $base-button-border-radius;
    }

    @include button-colors('standart');

    &:disabled,
    &.disabled {
        cursor: default;
        @include button-colors('disabled');
    }

    &:active {
        @include box-shadow(inset 0 2px 3px rgba(0, 0, 0, .3));
    }

    &.button-radius {
        border-radius: $base-border-radius;
    }

    &.button-small {
        padding: (1 * $base-input-spacing) (3 * $base-input-spacing);
    }

    &.button-large {
        padding: (3 * $base-input-spacing) (4 * $base-input-spacing);
    }
}

/**
 * Native button elements
 * Input button elements
 */
button,
input[type="submit"],
input[type="reset"],
input.button {
    @extend %button;
    border: transparent;
}

/**
 * Anchor and other elements
 */
.button {
    @extend %button;
    text-align: center;

    &,
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }

    .icon {
        position: relative;
        top: 1px;
        font-size: 85%;

        &.icon-left { margin-right: 5px; }
        &.icon-right { margin-left: 5px; }
    }

    /**
     * Icon Effect
     */

    &.button-animate {
        > span {
            display: inline-block;
            @include transform(translate3d(0, 0, 0));
            @include transition(transform 0.3s);
            @include transition-timing-function(cubic-bezier(0.75, 0, 0.125, 1));
        }

        .icon {
            position: absolute;
            top: 50%;

            &.icon-left {
                @include transform(translate3d(-50px, 0, 0)  translateY(-40%));
                @include transition(transform 0.3s);
                @include transition-timing-function(cubic-bezier(0.75, 0, 0.125, 1));
            }

            &.icon-up {
                @include transform(translate3d(-50px, -50px, 0)  translateY(-40%));
                @include transition(transform 0.3s);
                @include transition-timing-function(cubic-bezier(0.75, 0, 0.125, 1));
            }

            &.icon-down {
                @include transform(translate3d(-50px, 50px, 0)  translateY(-40%));
                @include transition(transform 0.3s);
                @include transition-timing-function(cubic-bezier(0.75, 0, 0.125, 1));
            }
        }

        &:hover {
            > span {
                @include transform(translate3d(8px, 0, 0));
            }

            .icon-left {
                @include transform(translate3d(-10px, 0, 0) translateY(-40%));
            }
            .icon-up {
                @include transform(translate3d(-10px, 0, 0) translateY(-40%));
            }
            .icon-down {
                @include transform(translate3d(-10px, 0, 0) translateY(-40%));
            }
        }
    }
}

/**
 * Action Buttons
 * specificity increased in order to overwrite [class*="#{$action-button}"]:not([class*="#{$action-button-wrapper}"])
 * without using !important rule. By this, it can easily modified `.some-class .primary-action` selector
 */

.#{$primary-button} {
    @include button-colors('primary');
    @include button-after('primary', 0.8s);
}

.#{$secondary-button} {
    @include button-colors('secondary');
    @include button-after('secondary', 0.8s);
}

.#{$tertiary-button} {
    @include button-colors('tertiary');
    @include button-after('tertiary', 0.8s);
}

.#{$quaternary-button} {
    @include button-colors('quaternary');
    @include button-after('quaternary', 0.8s);
}

.#{$quinary-button} {
    @include button-colors('quinary');
    @include button-after('quinary', 0.8s);
}

.#{$cancel-button},
input[type="reset"] {
    @include button-colors('cancel');
    @include button-after('cancel', 0.8s);
}