/** -------------------------------------------
    Checkbox Radio Styles
    ------------------------------------------- **/

.is-checkbox,
.is-radio {
    .selection & {
        @include dims(20px);
    }

    &.one-whole {
        margin-bottom: 1em;
    }
}

/** -------------------------------------------
    Checkable Fields
    ------------------------------------------- **/
#{$_checkable_fields} {
    .is-checkbox &,
    .is-radio & {
        position: absolute;
        opacity: 0;
    }

    + .item-label {
        margin-left: 0;
        padding-left: 30px;

        .selection & {
            position: absolute;
            top: 0;
        }

        &:before,
        &:after {
            content: "";
            @include transition(all 0.2s ease);
            @include center-vertical();
            border-width : 2px;
            left: 0;
        }

        &:before {
            @include dims(20px);

            border: 1px solid $base-border-color;
            background-color: #FFFFFF;
        }

        &:after {
            margin-left: 10px;
        }
    }

    &:checked {
        + .item-label:before {
            border-color: $color-checkbox-checked;
        }
    }

    &:disabled {
        + .item-label:before {
            border-color: $color-dark-gray;
            background-color: $color-light-gray;
        }
    }
}

/** -------------------------------------------
    Checkbox
    ------------------------------------------- **/
.is-checkbox {
    input[type="checkbox"] {
        + .item-label {
            &:before {
                border-radius: 3px;
            }

            &:after {
                @extend %font-icon;
                content: "\ea07";
                @include font-size(0px);
            }
        }

        &:checked {
            + .item-label:before {
                border-color : $color-checkbox-checked;
                background-color : $color-checkbox-checked;
            }
            + .item-label:after {
                @include font-size(12px);

                border-color : $color-checkbox-checked;
                background-color : $color-checkbox-checked;
                margin-left: 5px;
                color: #fff;
            }
        }
    }

    &:hover {
        > .item-label {
            &:before,
            &:after {
                border-color : $color-checkbox-hover;
            }
        }
    }
}

/** -------------------------------------------
    Checkbox Toggle
    ------------------------------------------- **/
.is-checkboxtoggle {
    position: relative;
    width: 42px;

    input[type="checkbox"] {
        position: absolute;
        opacity: 0;

        &:checked {
            + .item-label {
                &:before {
                    left: calc(100% - 18px);

                    background-color: $color-checkbox-radius;
                    border-color: $color-checkbox-radius;
                }

                &:after {
                    background-color: $color-checkbox-toogle;
                }
            }
        }

        + .item-label {
            position: absolute;
            width: 100%;

            &:before {
                z-index: 1;
                @include dims(18px);

                left: 0;
                border-radius: 13px;
            }

            &:after {
                @include dims(100%, 14px);

                left: 0;
                margin-left: 0;
                border-radius: 8px;
                background-color: $color-light-gray;
            }
        }
    }
}

/** -------------------------------------------
    Radio Buttons
    ------------------------------------------- **/
.is-radio {
    input[type="radio"] {
        + .item-label {
            &:before {
                border-radius: 50%;
            }

            &:after {
                @include dims(0);
                border-radius: 50%;
            }
        }

        &:checked {
            + .item-label:before {
                border-color : $color-radio-checked;
            }
            + .item-label:after {
                margin: 0 0 0 4px;
                @include dims(12px);
                border-color : $color-radio-checked;
                background-color : $color-radio-checked;
            }
        }
    }

    &:hover {
        > .item-label {
            &:before {
                border-color : $color-radio-hover;
            }
            &:after {
                border-color : $color-radio-hover;
                background-color : $color-radio-hover;
            }
        }
    }
}