/** -------------------------------------------
    Input Fields
    ------------------------------------------- **/
/**
 * Text based (input[type=text] etc.) field styles
 *
 * .text-field class is added in order to styling other elements like a text field
 */

%text-field {
    @include app-transition();
    outline: 0;
    padding: 10px 10px 10px 0;
    border: $base-border-width solid $base-border-color;
    border-width: 0 0 2px;
    background: $base-field-background;
    color: $color-text;

    font: {
        size: 1rem;
        weight: normal;
    }

    @if($base-field-border-radius != null){
        border-radius: $base-field-border-radius;
    }

    &:focus,
    &:active {
        border-color: $base-border-highlight;
        background: $base-field-highlight;
    }

    &[readonly],
    &.readonly {
        color: $color-gray;
        cursor: default;
        border-color: $base-border-readonly;
    }

    &[disabled],
    &.disabled {
        color: $color-gray;
        cursor: default;
        border-color: $base-border-disabled;
    }
}

#{$_text_fields},
textarea,
.text-field {
    -webkit-appearance: none;
    @extend %text-field;
}


/**
 * Checkable (checkbox, radio) field styles
 */
#{$_checkable_fields} {
    vertical-align: middle;

    /**
     * Fields and labels together
     *
        <label class="item-field">
            <input type="checkbox" />
            <span class="item-label">Label</span>
        </label>
     */
    + .field-label,
    + .item-label {
        font-weight: normal;
        margin-left: .25em;
        vertical-align: middle;
    }
}


/**
 * Other input types
 */
#{$_media_fields},
#{$_button_fields} {
    //width: auto;
}


/**
 * Textarea
 *
 * Textareas are like input text fields in most cases, but they need additional styling
 * since they are resizable and allows multiple lines
 */
textarea {
    min-height: 3em;
    resize: vertical; // keep the layout fixed. allow only vertical resizing

    .item & {
        display: block;
    }

    &[disabled] {
        background-color: $base-field-disabled;
    }
}

/**
 * Item
 */
.item {
    .item-label {
        z-index: 1;
        font-weight: normal;
    }

    &:hover {
        :disabled + .item-label {
            cursor: default;

            &:before {
                border-width: 1px;
            }
        }
    }

    &.is-disabled,
    &.is-readonly {
        [class*="icon-"] {
            color: $color-gray;
        }
    }
}