/** -------------------------------------------
    Label Styles
    ------------------------------------------- **/
/**
 * Labels
 *
 * Fields should always wrapped with a label.
 * Helper .label class is used for applying label styles for other text elements
 *
    <label class="item-field">
        <span class="item-label"></span>
        <input type="text" />
    </label>
 *
 */

label,
.label {
    position: relative;
    display: inline-block;
}

/**
 * Item positions
 * In most cases,
 * item-field is for showing label name and field in same line
 * item-stacked is for showing label name and field in rows
 * item-row is however, stacking the label wrappers together
 */
.item {
    &-field {
        padding-right: 1em;
        margin-right: 0;

        &:last-child {
            padding-right: 0;
        }
    }

    input, textarea {
        width: 100%;
    }

    &.is-text-field {
        &:after,
        &:before {
            @include app-transition();
            @include dims(0, 2px);
            content: "";
            position: absolute;
            bottom: 0;
            z-index: 1;
            background-color: $color-active-border;
        }

        &:before {
            right: 50%;
        }

        &:after {
            left: 50%;
        }

        .text-field {
            display: inline-block;
        }
    }

    &-stacked:not(:only-child){
        margin-bottom: 1em;
    }

    &-row + .item-row {
        margin-top: 1em;
    }

    &.is-active {
        .item-label {
            color: $color-active-label;
        }

        &:before,
        &:after {
            width: 50%;
        }
    }

    &-error {
        color: $color-error;
        &:before,
        &:after {
            background-color: $color-error;
        }
    }

    &.is-readonly {
        &:before,
        &:after {
            background-color: $base-border-readonly;
        }
    }

    &.is-disabled {
        &:before,
        &:after {
            background-color: $base-border-disabled;
        }

        .item-label {
            color: $color-gray;
        }
    }

    &.is-blurred,
    &.is-disabled,
    &.is-readonly {
        .item-label {
            color: $color-gray;
        }

        input {
            color: $color-gray;
        }
    }
}

/**
 * Label Fix Height
 */
.is-height {
    line-height: 41px;

    input[disabled] + .item-label {
        color: $color-gray;
    }
}

/**
 * Label texts
 */
.item-label,
.field-label {
    @include app-transition();
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #000;

    /**
     * When item is stacked, label text will be over the label input
     */
    .item-stacked & {
        display: block;
    }

    /**
     * Required field has a star at the beginning of label
     */
    .required & {
        &:before {
            content: "*";
            position: absolute;
            left: -10px;
        }
    }

    .is-text-field & {
        position: absolute;
        top: $base-input-spacing;
        left: 0;
    }

    .is-active & {
        @include transform(translateY(-100%));
        color: #d8d8d8;
        @include font-size(1rem);
    }
}