/** -------------------------------------------
 	Loading Component
    ------------------------------------------- **/

.uxq-loading {
    @include dims(100%);
    @include pageloading(rgba(255,255,255, 0.85), #000, 40px, #a1a1a1, #000, '');

    &.small {
        @include pageloading(rgba(255,255,255, 0.85), #000, 20px, #a1a1a1, #000, '');
    }

    &.medium {
        @include pageloading(rgba(255,255,255, 0.85), #000, 60px, #a1a1a1, #000, '');
    }

    &.large {
        @include pageloading(rgba(255,255,255, 0.85), #000, 80px, #a1a1a1, #000, '');
    }

    &.dark {
        @include pageloading(rgba(0,0,0, 0.85), #FFF, 40px, #a1a1a1, #FFF, '');

        &.small {
            @include pageloading(rgba(0,0,0, 0.85), #FFF, 20px, #a1a1a1, #FFF, '');
        }

        &.medium {
            @include pageloading(rgba(0,0,0, 0.85), #FFF, 60px, #a1a1a1, #FFF, '');
        }

        &.large {
            @include pageloading(rgba(0,0,0, 0.85), #FFF, 80px, #a1a1a1, #FFF, '');
        }
    }
}