/** -------------------------------------------
    Box Mixins
    ------------------------------------------- **/
/**
 * Box Content Mixin
 */
@mixin box($photo, $photo-style, $photo-width, $photo-position, $radius, $more, $border-color) {
    border: 1px solid $border-color;
    border-radius: $radius;

    $photo-name : photo;
    $content-name : content;
    $more-name: more;

    @if $photo == false {
        .#{$photo-name} {
            display: none;
        }
    }

    @if $photo == true {
        .#{$photo-name} {
            width: $photo-width;

            img {width: 100%;}
            .icon {font-size: $photo-width - 10}
        }

        @if $more == true {
            .#{$content-name} { width: calc(100% - #{$photo-width} - 25px); margin-left: 10px; }
        } @else {
            .#{$content-name} { width: calc(100% - #{$photo-width} - 10px); margin-left: 10px; }
            .#{$more-name} {
                display: none;
            }
        }

        @if $photo-position == left {
            .#{$photo-name} { float:left; }
        }
        @if $photo-position == right {
            .#{$photo-name} { display:inline-block; }
            .#{$content-name} { margin-left: 0;  margin-right: 10px; }
        }
        @if $photo-position == center {
            .#{$photo-name} { float:left; width: 100% }
            .#{$content-name} { width: 100%; margin: 0; }
        }

        @if $photo-style == radius {
            .#{$photo-name} {
                img { border-radius: $radius; }
            }
        }

        @if $photo-style == circle {
            .#{$photo-name} {
                @include dims($photo-width);

                img {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}