/** -------------------------------------------
    Grid Columns
    ------------------------------------------- **/

/**
 * Mixin for grid columns
 */
@mixin grid-columns($class) {
    $column-width: 100 / $base-grid-columns;
    $length: length($numbers);

    @for $i from 1 through $base-grid-columns {
        $width: $column-width * $i;
        $classname: "#{$column-name}-#{$class}-#{nth($numbers, $i)}";

        // globally modify the defined fragment list
        $_width-fragments: map-merge($_width-fragments, ("#{$width}": $classname)) !global;

        // placeholder class for width fragment for extending classes
        .#{$classname} {
            width: $width * 1%;
        }
    }
}

// Create grid for specific class
@mixin make-grid($class) {
    @include grid-columns($class);
}

@media only screen and (min-width: $screen-phone) and (max-width: $screen-phone-max) {
    @include make-grid(p);
}

@media only screen and (min-width: $screen-tablet) and (max-width: $screen-tablet-max) {
    @include make-grid(tp);
}

@media only screen and (min-width: $screen-desktop) and (max-width: $screen-desktop-max) {
    @include make-grid(tl);
}

@media only screen and (min-width : $screen-web) {
    @include make-grid(d);
}

/**
 * Columns
 * Better controlling the width, gutter defined as right & left padding
 */

[class*="#{$column-name}-"] {
    position: relative;
    float: left;
    padding: 0 $base-gutter;

    &.#{$column-name}-parent {
        // for nested columns, remove paddings for the parent grid column
        padding: 0;
    }
}

[class*="#{$column-name}-reverse"] {
    float: right;
}

/**
 * Row
 * Row encapsulation for columns
 */
.#{$row-name} {
    @extend .group;
    display: block;
    clear: both;
}

.pull {
    margin-left: -$base-gutter;
}

.push {
    margin-right: -$base-gutter;
}

.pull-push {
    margin-left  : -$base-gutter;
    margin-right : -$base-gutter;
}

/**
 * Offset settings for grid columns
 */
@mixin offset() {
    $column-width: 100/$base-grid-columns;
    $last-offset: $base-grid-columns - 1;

    @for $i from 1 through $last-offset {
        .#{$namespace}offset-by-#{nth($numbers, $i)} {
            margin-left: $column-width * $i * 1%;
        }
    }
}

@include offset();

@mixin mobile() {
    @media only screen and (min-width: $screen-phone) and (max-width: $screen-phone-max) {
        @content;
    }
}

@mixin tablet-portrait() {
    @media only screen and (min-width: $screen-tablet) and (max-width: $screen-tablet-max) {
        @content;
    }
}

@mixin tablet-landscape() {
    @media only screen and (min-width: $screen-desktop) and (max-width: $screen-desktop-max) {
        @content;
    }
}

@mixin desktop(){
    @media only screen  and (min-width : $screen-web) {
        @content;
    }
}