/** -------------------------------------------
    Collection Mixins
    ------------------------------------------- **/
/**
 * Collection Content Mixin
 */
@mixin listing($photo, $photo-style, $photo-width, $photo-position, $content-title, $radius) {
    $photo-name : photo;
    $content-name : content;

    li {
        float: left;
        width: 100%;

        .content-title { display: block; color : $content-title; margin-bottom: 3px; }
    }

    @if $photo == false {
        .#{$photo-name} {
            display: none;
        }
    }

    @if $photo == true {
        .#{$photo-name} {
            width: $photo-width;
            text-align: center;

            img {width: 100%;}
            .icon {font-size: $photo-width - 10}
        }

        .#{$content-name} { width: calc(100% - #{$photo-width} - 10px); margin-left: 10px; }

        @if $photo-position == left {
            .#{$photo-name} { float:left; }
            .#{$content-name} { float:left; }
        }
        @if $photo-position == right {
            .#{$photo-name} { display:inline-block; }
            .#{$content-name} { margin-left: 0;  margin-right: 10px; }
        }

        @if $photo-style == radius {
            .#{$photo-name} {
                img { border-radius: $radius; }
            }
        }

        @if $photo-style == circle {
            .#{$photo-name} {
                @include dims($photo-width);

                img {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}