/** -------------------------------------------
    Notes
    ------------------------------------------- **/
@mixin note($icon, $note-color) {
    @if ($icon != '') {
        @extend #{$icon} !optional;
    }

    border-color: $note-color;
    word-wrap: break-word;
    border-radius: $base-border-radius;
    box-shadow: 0 8px 15px -7px $note-color;

    &:before,
    .note-title {
        color: $note-color;
    }
}