/** -------------------------------------------
    Page Loading
    ------------------------------------------- **/

@mixin pageloading($bgcolor, $tcolor, $width, $l-before, $l-after, $text) {
    @-webkit-keyframes loader{
        from{
            -webkit-transform:rotate(0);
            transform:rotate(0)
        }
        to{
            -webkit-transform:rotate(360deg);
            transform:rotate(360deg)
        }
    }

    @keyframes loader{
        from{
            -webkit-transform:rotate(0);
            transform:rotate(0)
        }
        to{
            -webkit-transform:rotate(360deg);
            transform:rotate(360deg)
        }
    }
    position: absolute;
    left: 0;
    top: 0;
    background-color : $bgcolor;
    color : $tcolor;
    text-align: center;
    z-index: 9999;


    .loading {
        @include center;
        width: 100%;
        text-align: center;
        margin: 0;
        @if $text == null {
            padding: 0;
        }
        @else {
            padding: ($width + 5) 0 0 0;
        }

        &:before,
        &:after {
            @include dims($width);
            position: absolute;
            content: '';
            top: 0;
            left: 50%;
            margin-left: -($width / 2);
        }

        &:before {
            border-radius: 500rem;
            border: .2em solid $l-before;
        }

        &:after {
            -webkit-animation: loader .6s linear;
            animation: loader .6s linear;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            border-radius: 500rem;
            border-color: $l-after transparent transparent;
            border-style: solid;
            border-width: .2em;
            box-shadow: 0 0 0 1px transparent;
        }
    }
}