/** -------------------------------------------
    Box Container
    ------------------------------------------- **/
/**
 * Box Info Style
 */
.box-info {
    position: relative;
    display: inline-block;
    width: 100%;

    .box-title {
        margin: 0;
        padding: 10px;
        color : $box-container-title;
    }

    li {
        float: left;
        padding: (2 * $base-input-spacing);
        width: 100%;
        margin: 0;

        &:hover {
            background-color: $list-hover-color;
        }

        &:last-child { margin-bottom: 0; }

        .more {
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 15px;
        }
    }

    .photo {
        text-align: center;
    }

    .content { float: left;
        p { margin: 0; }
        .content-title { display: block; color : $color-text; margin-bottom: 3px; }
        .content-info {
            @extend %vertical;
            right: 10px;
        }
    }

    &.box-default {
        @include box(false, '', '', '', 5px, false, $base-border-color);
    }

    &.box-radius {
        &.left {
            @include box(true, radius, 30%, left, 5px, true, $base-border-color);
        }

        &.right {
            @include box(true, radius, 30%, right, 5px, false, $base-border-color);
        }

        &.center {
            @include box(true, radius, 30%, center, 5px, false, $base-border-color);
        }
    }

    &.box-circle {
        &.left {
            @include box(true, circle, 50px, left, 5px, true, $base-border-color);
        }

        &.right {
            @include box(true, circle, 50px, right, 5px, false, $base-border-color);
        }
    }
}