/** -------------------------------------------
 	Collection
    ------------------------------------------- **/

.collections {
    border : 1px solid $base-border-color;
    margin: 0 0 $base-gutter 0;

    li {
        margin: 0;
        padding: ($base-gutter * 1.5) $base-gutter;
        border-bottom: 1px solid $base-border-color;

        &:last-child { border-bottom: 0; }

        &:hover {
            background-color: $color-light-gray;
        }
    }

    &.radius {
        border-radius: $base-border-radius;
    }

    &.animate {
        border : 0;

        li {
            @include app-transition();
            border: 1px solid $base-border-color;
            margin-bottom: -1px;

            &:first-child { border-radius: $base-border-radius $base-border-radius 0 0; }
            &:last-child { border-radius: 0 0 $base-border-radius $base-border-radius; }

            &:hover {
                margin: 10px -10px 10px -10px;
                border-radius: $base-border-radius;

                .animate & {
                    li {border: 1px solid $base-border-color;}
                }
            }
        }
    }

    &.balloon {
        @extend .animate;

        li {
            &:hover {
                margin: -1px -10px -1px -10px;
                padding: 20px;
            }
        }
    }
}