/** -------------------------------------------
    Heading Styles
    ------------------------------------------- **/

h1 { font-size: $base-font-h1; color: $base-color; }
h2 { font-size: $base-font-h2; color: $base-color; }
h3 { font-size: $base-font-h3; color: $base-color; }
h4 { font-size: $base-font-h4; color: $base-color; }
h5 { font-size: $base-font-h5; color: $base-color; }
h6 { font-size: $base-font-h6; color: $base-color; }