/** -------------------------------------------
    Link & Nav Styles
    ------------------------------------------- **/
/**
 * Links
 */
a {
    display: inline-block;
    padding: 0;
    color: $color-link;
    text-decoration: none;

    nav & { text-decoration: none; }
    &.icon { text-decoration: none; }

    &:hover { color: $color-link-hover; }
    &:active,
    &:focus { color: $color-link-active; }

    &.disabled {
        pointer-events: none;
        cursor: default;
    }
}

/**
 * Nav
 */
nav {
    // reset unordered lists in navigation
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}