/** -------------------------------------------
    Lists
    ------------------------------------------- **/
ol, ul,
.uxq-list {
    @extend %reset; // first reset the element styles
    list-style-position : inside;
    position: relative;

    li {
        position      : relative;
        padding: $base-input-spacing (2 * $base-input-spacing);
    }

    &.animate {
        li {
            @include transition(all 1s cubic-bezier(0.21, 1, 0.84, 1.01));

            &:hover {
                @include transform(scale(1.05));
            }
        }
    }

    &.offset {
        li {
            .icon {font-size: 80%;}
        }
    }

    &.folder {
        @include listing(true, circle, 50px, left, #222, 5px);

        .content-info {
            @extend %vertical;
            right: 10px;
        }
    }

    &.simple {
        @include listing(true, circle, 50px, left, #222, 5px);

        li {
            .content {
                > p {@extend %vertical;}
            }

            &:hover {
                background-color: $list-hover-color;
            }
        }
    }

    &.crow {
        @include listing(true, circle, 50px, left, #222, 5px);

        li {
            border-bottom: 1px solid $base-border-color;

            &:last-child { margin-bottom: 0; border-bottom: 0; }
        }
    }
}

dl {
    padding-left: $base-gutter;

    dt {
        font-weight: bold;
    }
}