/** -------------------------------------------
    Table Styles
    ------------------------------------------- **/
/**
 * Table
 */
table {
    width: 100%;
}

/**
 * THEAD
 */
thead {
    border-bottom: 1px solid $table-border-color;
    color : $table-thead-color;

    .table-heading & {
        background-color: $table-heading-color;
    }
}

/**
 * TBODY
 */
tbody {
    tr {
        .table-bordered & {
            border-bottom: 1px solid $table-border-color;
        }

        .table-striped.odd & {
            &:nth-child(odd){
                background-color: $table-hover-color;
            }
        }
        .table-striped.even & {
            &:nth-child(even){
                background-color: $table-hover-color;
            }
        }

        .table-highlight & {
            &:hover {
                @include app-transition();
                background-color: $table-hover-color;
            }
        }
    }
}

/**
 * TFOOT
 */
tfoot {
    td:only-child {
        text-align: right;
    }
}

/**
 * CELLS
 */
th,
td {
    padding: $base-spacing/2;
    display: table-cell;
    vertical-align: middle;
    border-radius: 2px;
    text-align: left;
}