/** -------------------------------------------
 	Notes
    ------------------------------------------- **/
.note {
    @extend .group;
    position: relative;
    padding: 1em .5em;
    margin: 1em 0;
    border: 2px solid;
    background: #fff;
    text-align: center;
    @include font-size(14px);

    &:before {
        @extend %font-icon;
        display: block;
        margin: 0 auto $base-gutter / 2;
        @include font-size(64px);
        vertical-align: middle;
    }

    &-title {
        @include font-size(22px);
        margin-bottom: $base-gutter / 2;
        font-weight: 300;
    }

    p {
        margin: 0 0 $base-gutter / 2;

        &:only-child {
            margin: 0;
        }
    }

    &-buttons {
        padding: $base-gutter $base-gutter 0 $base-gutter;
        text-align: right;
    }
}

.note-info {
    @include note('', map-get($named-colors, 'info'));
}

.note-warning {
    @include note('.icon-face-neutral', map-get($named-colors, 'warn'));
}

.note-error {
    @include note('.icon-face-unhappy', map-get($named-colors, 'error'));
}

.note-success {
    @include note('.icon-face-happy', map-get($named-colors, 'success'));
}

.dialog-note {
    max-width: 500px;
    padding: $base-gutter;
    margin-right: auto;
    margin-left: auto;
    border: 0;
    border-radius: 3px;
    text-align: center;

    .modal-window & {
        margin: 0px;
        padding: 0px;
    }
}