/**
 * Named Colors
 */
$color-primary    : #009bdc !default;
$color-secondary  : #67af00 !default;
$color-tertiary   : #ffa900 !default;


$color-cancel     : #e87352 !default;
$color-error      : $color-cancel !default;

$color-text       : #222222 !default;
$color-white      : #ffffff !default;
$color-black      : #000000 !default;
$color-gray       : #e1e1e1 !default;
$color-dark-gray  : #a6a6a6 !default;
$color-light-gray : #eee !default;
$color-ice        : #E8F1F8 !default;

/**
 * Simple colors for general styling
 */
$base-color: $color-text !default;
$base-anchor-color: $color-text !default;
$base-anchor-highlight: $color-primary !default;

/**
 * Border Colors
 *
 * @default $base-border-color: #ccc;
 */
$base-border-color      : $color-gray !default;
$base-border-highlight  : $color-gray !default;
$base-border-disabled   : $color-gray !default;
$base-border-readonly   : $color-gray !default;

/**
 * Field Background Colors
 */
$base-field-background  : null !default;
$base-field-highlight   : $color-white !default;
$base-field-disabled    : $color-gray !default;
$base-field-readonly    : $color-light-gray !default;

/**
 * UXQuark Tabs
 */
$tabs-nav-background    : $color-white !default;
$tabs-nav-border        : #009bdc !default;
$tabs-nav-color         : #a6a6a6 !default;
$tabs-nav-hover         : #009bdc !default;
$tabs-nav-hover-color   : $color-white !default;

$named-colors: (
        info: #337ab7,
        success: #5cb85c,
        warn: #f0ad4e,
        error: #d9534f,
        tooltip: #808c9e
);