/** -------------------------------------------
    Button Color Maps
    ------------------------------------------- **/
/**
 * Default Button
 */
$base-button-color           : #e7e7e7 !default;
$base-button-highlight-color : null !default;
$base-button-text-color      : $color-text !default;
$base-button-border          : $base-border-color !default;

/**
 * Disabled Button
 */
$base-disabled-color           : #CCCCCC !default;
$base-disabled-highlight-color : null !default;
$base-disabled-text-color      : $color-dark-gray !default;
$base-disabled-border          : $base-border-color !default;


/**
 * Primary Action Button
 */
$base-primary-color           : #009bdc !default;
$base-primary-highlight-color : null !default;
$base-primary-text-color      : $color-white !default;
$base-primary-border          : #009bdc !default;


/**
 * Secondary Action Button
 */
$base-secondary-color           : #67af00 !default;
$base-secondary-highlight-color : null !default;
$base-secondary-text-color      : $color-white !default;
$base-secondary-border          : #67af00 !default;


/**
 * Tertiary Action Button
 */
$base-tertiary-color           : #ffa900 !default;
$base-tertiary-highlight-color : null !default;
$base-tertiary-text-color      : $color-white !default;
$base-tertiary-border          : #ffa900 !default;

/**
 * Quaternary Action Button
 */
$base-quaternary-color           : #555555 !default;
$base-quaternary-highlight-color : null !default;
$base-quaternary-text-color      : $color-white !default;
$base-quaternary-border          : #555555 !default;

/**
 * Quinary Action Button
 */
$base-quinary-color             : #9ba892 !default;
$base-quinary-highlight-color   : null !default;
$base-quinary-text-color        : $color-white !default;
$base-quinary-border            : #9ba892 !default;

/**
 * Cancel Action Button
 */
$base-cancel-color           : $color-cancel !default;
$base-cancel-highlight-color : null !default;
$base-cancel-text-color      : $color-white !default;
$base-cancel-border          : $color-cancel !default;

/**
 * Color maps
 */
$base-colors: (
        'standart': $base-button-color,
        'standart-highlight': $base-button-highlight-color,
        'standart-text': $base-button-text-color,
        'standart-border': $base-button-border,


        'disabled': $base-disabled-color,
        'disabled-highlight': $base-disabled-highlight-color,
        'disabled-text': $base-disabled-text-color,
        'disabled-border': $base-disabled-border,


        'primary': $base-primary-color,
        'primary-highlight': $base-primary-highlight-color,
        'primary-text': $base-primary-text-color,
        'primary-border': $base-primary-border,


        'secondary': $base-secondary-color,
        'secondary-higlight': $base-secondary-highlight-color,
        'secondary-text': $base-secondary-text-color,
        'secondary-border': $base-secondary-border,

        'tertiary': $base-tertiary-color,
        'tertiary-highlight': $base-tertiary-highlight-color,
        'tertiary-text': $base-tertiary-text-color,
        'tertiary-border': $base-tertiary-border,

        'quaternary': $base-quaternary-color,
        'quaternary-highlight': $base-quaternary-highlight-color,
        'quaternary-text': $base-quaternary-text-color,
        'quaternary-border': $base-quaternary-border,

        'quinary': $base-quinary-color,
        'quinary-highlight': $base-quinary-highlight-color,
        'quinary-text': $base-quinary-text-color,
        'quinary-border': $base-quinary-border,

        'cancel': $base-cancel-color,
        'cancel-higlight': $base-cancel-highlight-color,
        'cancel-text': $base-cancel-text-color,
        'cancel-border': $base-cancel-border
);

/** -------------------------------------------
    Elements Color Maps
    ------------------------------------------- **/

/**
 * Link Color
 */
$color-link             : $color-primary !default;
$color-link-hover       : $color-primary !default;
$color-link-active      : $color-primary !default;

/**
 * List Color
 */
$list-hover-color      : #f9f9f9 !default;

/**
 * Label Input
 */

$color-active-label     : #000 !default;
$color-active-border    : #000 !default;

/**
 * Checkbox & Radio Color
 */

$color-checkbox-checked         : #000 !default;
$color-checkbox-hover           : #000 !default;
$color-checkbox-toogle          : #e0f0fc !default;
$color-checkbox-radius          : #56b9ea !default;
$color-radio-checked            : #000 !default;
$color-radio-hover              : #000 !default;

/**
 * Table Color
 */
$table-thead-color      : #222 !default;
$table-border-color     : #eee !default;
$table-hover-color      : #f9f9f9 !default;
$table-heading-color    : #eee !default;