
/** -------------------------------------------
    Internal Variables
    ------------------------------------------- **/

$namespace : null;

/** -------------------------------------------
    Default class/definition names
    ------------------------------------------- **/

/**
 *  Text field lists
 */
$_text_fields: 'input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]';
$_checkable_fields: 'input[type="checkbox"], input[type="radio"]';
$_media_fields: 'input[type="file"], input[type="image"]';
$_button_fields: 'input[type="submit"], input[type="reset"], input[type="button"]';

/**
 * Class names for grid
 */
$row-name: 'row' !default;
$column-name: 'col' !default;
$grid-gutter-width: 30px !default;

/**
 * Button names for action
 */
// only used for similar class selector
$action-button: '-action' !default;
// for separating button wrappers
$action-button-wrapper: '-actions' !default;
// other button classes
$primary-button: 'primary-action' !default;
$secondary-button: 'secondary-action' !default;
$tertiary-button: 'tertiary-action' !default;
$quaternary-button: 'quaternary-action' !default;
$quinary-button: 'quinary-action' !default;
$cancel-button: 'cancel-action' !default;

/**
 * Folders
 * Not actually a namespace but folder names also have different preferences
 */
$images : '../images/' !default;
$retina-suffix: '@2x' !default;