/**
 * Responsive Media Query
 */

$screen-old-phone:           320px !default;  // Mobil Portrait
$screen-phone:               480px !default;  // Mobil Landscape
$screen-tablet:              768px !default;  // Tablet Portrait
$screen-desktop:             992px !default;  // Desktop
$screen-web:                 1200px !default;  // Desktop Web

$screen-old-phone-max:       479px !default;
$screen-phone-max:           767px !default;
$screen-tablet-max:          1023px !default;
$screen-desktop-max:         ($screen-web -1) !default;


/**
 * Grid gutter and columns
 */

$base-gutter        : 10px;
$base-double-gutter : 2*$base-gutter;
$base-grid-columns: 12 !default;
$base-float-widths: true !default;


/**
 * Number to Name Conversions
 */

$numbers: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 !default;

$ordinals: whole half third quarter fifth sixth seventh eighth ninth tenth eleventh twelfth !default;
$ordinals-plural: whole half thirds quarters fifths sixths sevenths eighths ninths tenths elevenths twelfths !default;
