/** -------------------------------------------
    Default size definitions
    ------------------------------------------- **/

$_width-fragments: ();


/**
 * Spacing in element
 * Sets the padding sizes for an element
 */
$base-spacing: 1em !default;
$base-input-spacing: 5px !default;

/**
 * Border Widths
 *
 * Applied border with for input fields and table borders
 */
$base-border-width: 1px !default;
$base-button-border-radius: null !default;
$base-field-border-radius: null !default;
$base-border-radius: 5px !default;
