/** -------------------------------------------
    UX Tabs
    ------------------------------------------- **/

/** -------------------------------------------
    Tab
    ------------------------------------------- **/
%tab-nav,
.tab-nav {
    @extend .group;
    border-bottom: 3px solid $tabs-nav-border;

    a {
        @include app-transition();
        position: relative;
        float: left;
        padding: 1.5*$base-gutter;
        margin-right: 2px;
        margin-bottom: -3px;
        border-bottom: 3px solid $tabs-nav-border;
        border-radius: 2px 2px 0 0;
        background-color: $tabs-nav-background;
        line-height:1;
        color: $tabs-nav-color;
        cursor: pointer;

        &:hover {
            color : $tabs-nav-hover-color;
            background-color: $tabs-nav-hover;
        }
    }

    .current {
        background-color: $tabs-nav-hover;
        color : $tabs-nav-hover-color;
    }
}

.ux-tabs {
    position: relative;
    margin: 0 auto;

    .tab-content {
        background: $color-white;
        min-height: 0;
        padding: $base-gutter * 2 0 0 0;
        margin: 0;

        > li {
            display: none;

            &.active {
                display: block;
                width: 100%;
                float: left;
                @include animation(cd-fade-in .5s);
            }
        }
    }

    &.nav-left {
        .tab-nav {
            float: left;
            width: 20%;

            a { width: 100%; padding: 15px 8px; font-size: 12px; border-bottom: 0; }
        }
        .tab-content {
            float: left;
            width: 80%;
            padding: 0px 0 0 20px;
        }
    }
}

@include keyframes(cd-fade-in) {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}